Aran/ARENA/Aerodrome/AerodromeManager/Desktop (Client)/Connected Services/AmdbService/AerodromeServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AerodromeServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AerodromeServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UserPrivilege">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadOnly" />
      <xs:enumeration value="Full" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserPrivilege" nillable="true" type="tns:UserPrivilege" />
  <xs:simpleType name="AmdbCallBackType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Locked" />
      <xs:enumeration value="Unlocked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AmdbCallBackType" nillable="true" type="tns:AmdbCallBackType" />
  <xs:simpleType name="UserCallbackType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ChangedPassword" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="PrivilegeUp" />
      <xs:enumeration value="PrivilegeDown" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Updated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserCallbackType" nillable="true" type="tns:UserCallbackType" />
</xs:schema>