Aran/ARENA/SIGMA/Chart Manager/ChartManagerWeb/Connected Services/ChartServiceReference/ChartServices.DataContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ChartServices.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChartServices.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ChartServices" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfChartUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartUser" nillable="true" type="tns:ChartUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartUser" nillable="true" type="tns:ArrayOfChartUser" />
  <xs:complexType name="ChartUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Disabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChartServices" minOccurs="0" name="Privilege" type="q1:UserPrivilege" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartUser" nillable="true" type="tns:ChartUser" />
  <xs:complexType name="ChartWithReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Chart">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FeatureIdList" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChartWithReference" nillable="true" type="tns:ChartWithReference" />
  <xs:complexType name="Chart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginEffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="tns:ChartUser" />
      <xs:element minOccurs="0" name="EndEffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Identifier" type="ser:guid" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockedBy" nillable="true" type="tns:ChartUser" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunwayDirection" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChartServices" minOccurs="0" name="Type" type="q3:ChartType" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chart" nillable="true" type="tns:Chart" />
  <xs:complexType name="ChartUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="tns:ChartUser" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartUpdateData" nillable="true" type="tns:ChartUpdateData" />
  <xs:complexType name="ArrayOfChart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chart" nillable="true" type="tns:Chart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChart" nillable="true" type="tns:ArrayOfChart" />
</xs:schema>