Aran/ARENA/SIGMA/Chart Manager/ChartManager.Tests/Connected Services/ServiceReference1/ChartServices.Helpers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChartServices.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChartServices.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressHttp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTcp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientConfig" nillable="true" type="tns:ClientConfig" />
</xs:schema>